*.py[co]
*.pyc
*.py~
*.egg
*.egg-info
*.log
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
pip-log.txt
.coverage
.coveragerc
.tox
.idea
.coverage.*
dump.rdb
*.mo
*.sublime*
.DS_Store
/media/CACHE/
CACHE/
static/CACHE/css/*
logs/
static/CACHE
.sass-cache/
.tags*
.vscode/*
.coverage
.tox
.idea
*.log
logs/*
coverage/*
